.editorconfig
.gitattributes
.npmrc
.nvmrc
eslint.config.ts
package.json
pnpm-workspace.yaml
pnpm-lock.yaml
stylelint.config.ts
packages

.vscode/.linux/scripts
.vscode/.linux/templates
.vscode/.linux/themes
.vscode/.linux/.bash_history
.vscode/.linux/install.sh
.vscode/extensions.json

# Visual Studio Code
.vscode/.extensions
.vscode/.user.data
.vscode/settings.json
.vscode/.linux/.dotnet
.vscode/.linux/.bash_history
.vscode/.linux/.bashrc
.vscode/.linux/dotnet-install.sh
.vscode/.linux/oh-my-posh
.vscode/.linux/oh-my-posh.json

# Linux packages
**/os/arch
**/os/deb
**/os/rpm
**/os/flatpak
**/os/targz

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

**/publish
**/node_modules/
packages/**/dist

# Release archives
existing_project.tar.bz2
new_project.tar.bz2
